.container {
    display: grid;
    grid-template-columns: repeat(6, 10em) 4em;
    grid-template-rows: repeat(6, 10em);
    gap: 0px 20px;
    grid-template-areas:
        ". . . . . ."
        "yellow-box red-box green-box orange-box orange-box blue-box"
        "yellow-box red-box green-box orange-box orange-box blue-box"
        "yellow-box red-box green-box orange-box orange-box blue-box"
        "yellow-box red-box green-box orange-box orange-box blue-box"
        "yellow-box red-box green-box orange-box orange-box blue-box";
}

#yellow {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr) 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: stretch;
    align-content: stretch;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "num1"
        "num2"
        "num3"
        "num4"
        ".";
    grid-area: yellow-box;
}

.number:nth-child(1) {
    grid-area: num1;
}

.number:nth-child(2) {
    grid-area: num2;
}

.number:nth-child(3) {
    grid-area: num3;
}

.number:nth-child(4) {
    grid-area: num4;
}

#green {
    grid-area: green-box;
}

#orange {
    grid-area: orange-box;
}

#red {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr) 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        ".";
    grid-area: red-box;
}

.letter:nth-child(1) {
    grid-area: a;
}

.letter:nth-child(2) {
    grid-area: b;
}

.letter:nth-child(3) {
    grid-area: c;
}

.letter:nth-child(4) {
    grid-area: d;
}

#blue {
    grid-area: blue-box;
}